@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400;1,500&display=swap");

:root {
  --headerBackgroundColor: #435354;
  --headerFontColor: #ccc;
  --boxBackgroundColor: rgb(4, 79, 79);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
#header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 150px;
  text-align: center;
  background-color: var(--headerBackgroundColor);
  font-size: 20px;
  color: var(--headerFontColor);
  align-items: center;
}
#logIn {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
#signUp {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
input {
  width: 250px;
}
#container {
  display: flex;
  width: 80%;
  background-color: #ccc;
  margin: 0 auto;
  justify-content: center;
  border: 2px solid var(--headerBackgroundColor);
}

#logInBox {
  margin-top: 10em;
  margin-bottom: 10em;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  background-color: var(--boxBackgroundColor);
  color: var(--headerFontColor);
  border: 10px solid var(--headerBackgroundColor);
}
label[for="emailInput"],
label[for="passwordInput"] {
  width: 300px;
}
.button {
  padding: 10px;
  background-color: var(--headerFontColor);
  color: var(--boxBackgroundColor);
  border: 1px solid var(--boxBackgroundColor);
  margin-top: 15px;
  margin-left: 5px;
}
#registerButton:hover {
  background-color: var(--headerBackgroundColor);
  color: var(--headerFontColor);
  cursor: pointer;
}
#logOutDiv {
  display: none;
}
#userPanelDiv {
  display: none;
  flex-direction: row;
}
#userAccount {
  width: 20px;
  height: 30px;
}
#userAccountBox {
  margin-top: 10em;
  margin-bottom: 10em;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: var(--boxBackgroundColor);
  color: var(--headerFontColor);
  border: 10px solid var(--headerBackgroundColor);
}

#userAccountBox p {
  margin: 10px;
}

#formUserAccount,
#formUserAccoun input,
#formUserAccount select {
  display: block;
  margin-top: 0.5em;
}

div.card {
  display: flex;
  padding: 10px;
  border-bottom: 2px solid gold;
  flex-wrap: wrap;
  flex-direction: column;
  width: 800px;
  background-color: royalblue;
  justify-content: flex-start;
  align-items: center;
}

h5 {
  font-weight: bold;
  color: gold;
  font-size: 24px;
  margin-bottom: 10px;
  text-decoration: underline;
}
.cardPrice {
  margin: 5px;
}
.addToCart,
.removeFromCart {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}
#moneyBalance {
  width: 35px;
  height: 35px;
  margin-left: 10px;
}
#logIn,
#userAccountImg,
#signUp,
#moneyImg,
#shopImg,
#logOutImg {
  cursor: pointer;
}

#moneyDeposit {
  position: absolute;
  top: 20%;
  left: 55%;
  height: 120px;
  width: 300px;
  background-color: #000;
  padding: 10px;
}
#depositButton {
  display: block;
  margin: 20px auto;
}
#depositAmount {
  width: 280px;
}

#userInfoDeposit {
  margin-right: 5px;
}
#verificationV2 {
  font-size: 14px;
  color: red;
}

#shopButtons {
  display: block;
}
#buy {
  display: block;
}
#filters {
  display: flex;
  width: 100%;
  justify-content: center;
  justify-items: center;
}
#numSort {
  display: inline;
}

#chatBox {
  width: 300px;
  height: 700px;
  background-color: black;
  display: none;
  color: #ccc;
}
